<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title> 
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="cardCSS">
    <ion-card-content>
        <strong class='login-title'>SignIn</strong>
  
        <!-- <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input id="passwordText" type="password"></ion-input>
        </ion-item>
  
        <ion-button class="setButton" color="secondary" (click)="loginBtnClicked()">Login</ion-button>
   
    </ion-card-content>  
  </ion-card>
  
</ion-content>
