
.cardCSS{
    top: 25%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.setButton {
    border-radius: 0px;
    margin-left: 18px;
    margin-top: 10px;
    font-size: large;

    background-color: #28A1AE;

}