<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marksheet</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      max-width: 100%;
      margin: 0 auto;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    thead {

    background-color: #4C80AC;
    color: white;
    }
    </style>
  
</ion-header>

<ion-content [fullscreen]="true">
<!-- <ion-list>
  <ion-item *ngFor="let data of (marksheetData | async)">
    {{data.name}}
  </ion-item>
</ion-list> -->

  <div *ngIf="marksheetData; else elseBlock">

  <table >
		<thead>
			<tr>
				<th>Sr No.</th>
				<th>Module Name</th>
				<th>Marks</th>
			</tr>
		</thead>

    <tr *ngFor="let m of marksheetData">
      <td>{{m.num}}</td>
      <td>{{m.name}}</td>
      <td>{{m.total_marks}}</td>
    </tr>
    <!-- <tr>
      <td>2.</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>  -->
  </table>  
  </div>
  <ng-template #elseBlock>No record found</ng-template>

</ion-content>
